<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922425962648-a3vo9ljfhsirvl51hhfp4h0as8dnotei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922425962648-a3vo9ljfhsirvl51hhfp4h0as8dnotei</string>
	<key>API_KEY</key>
	<string>AIzaSyCtu7w7N2SFHVn3xPnEw2N2gJ-jPLJvcos</string>
	<key>GCM_SENDER_ID</key>
	<string>922425962648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labVisitas</string>
	<key>PROJECT_ID</key>
	<string>lab-visitas</string>
	<key>STORAGE_BUCKET</key>
	<string>lab-visitas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922425962648:ios:f74b6ce5334bdc9a00a0ed</string>
</dict>
</plist>